.DS_Store
*.zip
firmware/output
.vscode
build
*.egg-info
__pycache__
software/python/capstone/drivers
software/python/capstone/proto
software/python/capstone/values.py
software/.csvenv
firmware/outputs
software/frontend/proto

\#auto_saved_files#
*-cache
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.pdf
*.net
software/proto/values.proto
software/firmware/src/app/generated
software/desktop/src-tauri/target

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
