{% import 'c_macros.j2' as macro %}
{% import 'c_cmd_macros.j2' as cmd_macro %}

#include "{{ cfg.name.lower() }}.h"

#include <stdlib.h>
#include <string.h>

{% for cmd_name, command in cfg.commands.items() %}
{{ macro.block_comment('COMMAND: ' + cmd_name) }}

{{ cmd_macro.pack_func_sig(cfg.name, cmd_name, command, get_type)}} {
    memset(tx_buf, 0x00, {{ command.tx.size }}U);
    {% for field_name, field in command.tx.fields.items() %}
        {{ cmd_macro.cmd_dev_tx_assign(cfg.name.upper(), cmd_name, field_name, field) }}
    {%- endfor %}
}

{% if command.rx.size > 0 %}
{{ cmd_macro.unpack_func_sig(cfg.name, cmd_name, command, get_type)}} {
    {% for field_name, field in command.rx.fields.items() %}
        {{ cmd_macro.cmd_dev_rx_assign(cfg.name.upper(), cmd_name, field_name, field) }}
    {%- endfor %}
}
{% endif %}

{% endfor %}
