{% import 'c_macros.j2' as macro %}
{% import 'values_macros.j2' as value_macro %}

#include "values.h"
#include "fatal.h"

#include "values.pb.h"

{{ macro.block_comment("PROTO") }}

void pack_proto_value(capstone_Value* value_struct, capstone_ValueTag tag) {
    switch (tag) {
{% for name, config in values.items() %}
        case capstone_ValueTag_{{ name }}:
{% if config.type.base == "bool" %}
            value_struct->which_value = capstone_Value_b_tag;
            value_struct->value.b = values.{{ name.lower() }};
{% elif config.type.base == "decimal" %}
            value_struct->which_value = capstone_Value_f32_tag;
            value_struct->value.f32 = values.{{ name.lower() }};
{% elif config.type.base == "int" and config.type.min < 0 %}
            value_struct->which_value = capstone_Value_i32_tag;
            value_struct->value.i32 = values.{{ name.lower() }};
{% elif config.type.base == "enum" or (config.type.base == "int" and config.type.min >= 0) %}
            value_struct->which_value = capstone_Value_u32_tag;
            value_struct->value.u32 = values.{{ name.lower() }};
{% endif %}
            break;
{% endfor %}
        default:
            break;
    }
}

void unpack_proto_value(capstone_Value* value_struct, capstone_ValueTag tag) {
    switch (tag) {
{% for name, config in values.items() %}
        case capstone_ValueTag_{{ name }}:
{% if config.type.base == "bool" %}
            values.{{ name.lower() }} = value_struct->value.b;
{% elif config.type.base == "decimal" %}
            values.{{ name.lower() }} = value_struct->value.f32;
{% elif config.type.base == "int" %}
            values.{{ name.lower() }} = value_struct->value.i32;
{% elif config.type.base == "enum" %}
            values.{{ name.lower() }} = value_struct->value.u32;
{% endif %}
            break;
{% endfor %}
        default:
            break;
    }
}

{{ macro.block_comment("PACKETS") }}

#define PACK_BOOL(value) GET_##value & 0x00000001U
#define PACK_DECIMAL(value) ((GET_##value - value##_MIN) / value##_LSB)
#define PACK_UINT(value) (GET_##value & ((1 << value##_SIZE) - 1))
#define PACK_ENUM(value) PACK_UINT(value)
#define PACK_INT(value) (GET_##value - value##_MIN)

uint8_t downlink_packet_lengths[DOWNLINK_PACKET_COUNT] = {
{% for packet in downlink_packets %}
    [DOWNLINK_PACKET_{{ loop.index0 }}] = {{ ceil(get_packet_size(loop.index0, 'downlink') / 8) }},
{% endfor %}
};

{% for packet in downlink_packets + uplink_packets %}
    {% for value in packet %}
#define {{value}}_SIZE ({{get_value_size(value)}}U)
#define {{value}}_MASK ((1 << {{value}}_SIZE) - 1)
        {% if values[value].type.base in ['int', 'decimal'] %}
#define {{value}}_MIN ({{values[value].type.min}})
        {% endif %}
        {% if values[value].type.base == 'decimal' %}
#define {{value}}_LSB ({{values[value].type.lsb}}f)
        {% endif %}
#define GET_{{value}} (values.{{value.lower()}})
#define SET_{{value}}(val) (values.{{value.lower()}} = (val))

    {% endfor %}
{% endfor %}

typedef enum {
    VALUE_TAG_FIRST = 0,

{% for name, _ in values.items() %}
    VALUE_TAG_{{ name }} = {{ loop.index0 }},
{% endfor %}

    VALUE_TAG_COUNT = {{ values|length }}
} value_tag_t;

values_t values = {
{% for value, value_config in values.items() %}
    .{{ value.lower() }} =
    {% if value_config.type.base == 'decimal' %}
        0.0f
    {% elif value_config.type.base == 'bool' %}
        false
    {% elif value_config.type.base == 'int' %}
        0U
    {% elif value_config.type.base == 'enum' %}
        {{value_config.type.name}}_{{enums[value_config.type.name][0]}}
    {% endif %}
    ,
{% endfor %}
};

{% for packet in downlink_packets %}
{{ value_macro.pack_packet_sig(loop.index0) }} {
    {% for value in packet %}
{{ get_value_int_type(value) }} packed_{{ value.lower() }} =
        PACK_{{values[value].type.base.upper()}}({{ value }});
    {% endfor %}

    {% set outer_loop = loop %}
    {% for byte in range(ceil(get_packet_size(loop.index0, 'downlink') / 8)) %}
    buffer[{{ byte }}] =
        {% for value, offset in get_values_in_byte(byte, outer_loop.index0, 'downlink') %}
            {% if not loop.first %}
    |
            {% endif %}
    packed_{{ value.lower() }}
            {% if offset < 0 %}>>{% else %}<<{% endif %}
    {{ offset|abs }}
        {% endfor %}
        ;
    {% endfor %}
}
{% endfor %}

{% for packet in uplink_packets %}
{{ value_macro.unpack_packet_sig(loop.index0) }} {
    uint32_t temp = 0;
    {% set outer_loop = loop %}
    {% for value in packet %}
    temp = 0;
        {% set size = get_value_size(value) %}
        {% set offset = get_value_offset_in_packet(value, outer_loop.index0, 'uplink') %}
        {% for byte in get_bytes_for_value(value, outer_loop.index0, 'uplink') %}
            {% set shift = (offset % 8) - ((byte - (offset // 8)) * 8) %}
            {% set operator = '<<' if shift < 0 else '>>' %}
            {% set size_in_byte = (offset + size, (byte + 1) * 8)|min - (offset, byte * 8)|max %}
    temp |= (buffer[{{ byte }}] {{ operator }} {{ shift|abs }}) & ((1 << {{ size_in_byte }}) - 1);
        {% endfor %}
    values.{{ value.lower() }} = temp;

    {% endfor %}
}
{% endfor %}

void pack_downlink_packet(downlink_packet_t packet, uint8_t* buffer) {
    switch (packet) {
{% for packet in downlink_packets %}
        case DOWNLINK_PACKET_{{ loop.index0 }}:
            pack_downlink_packet_{{ loop.index0 }}(buffer);
            break;
{% endfor %}
        default:
            fatal(FATAL_UNREACHABLE);
    }
}
