syntax = "proto3";
package capstone;

enum ValueTag {
    {% for name, _ in values.items() %}
    {{ name }} = {{ loop.index0 }};
    {% endfor %}
}

message Value {
    oneof value {
        uint32 u32 = 1;
        sint32 i32 = 2;
        uint64 u64 = 3;
        sint64 i64 = 4;
        float f32 = 5;
        double f64 = 6;
        bool b = 7;
    }
}
